@import url('https://fonts.googleapis.com/css2?family=Audiowide:wght@100;300;400;500;700&display=swap');

html {
  width: 100%;
  height: 100svh;
  
}

html,
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}


:root {
  --navbar-height: 80px;
}